config/.donoteditthisfile.conf
config/crontabs/
config/dns-conf/
config/etc/
config/fail2ban/
config/geoip2db/
config/keys/
config/log/
config/nginx/authelia-location.conf
config/nginx/authelia-server.conf
config/nginx/dhparams.pem
config/nginx/geoip2.conf
config/nginx/ldap.conf
config/nginx/nginx.conf
config/nginx/proxy-confs/
config/nginx/proxy.conf
config/nginx/ssl.conf
config/php/
config/www/
